.header {
  padding: 40px 0;
  border-bottom: 1px solid rgba(195, 212, 233, 0.4);
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header .header__content .header__primary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.header .header__content .header__primary-wrap .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(61, 82, 120)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header .header__content .header__primary-wrap .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .header__content .header__primary-wrap .header__user-settings .header__user-settings-btn {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  position: relative;
}

.header .header__content .header__primary-wrap .header__user-settings .user-settings-btn-notification::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #FF4423;
  width: 12px;
  height: 12px;
  z-index: 1;
}

.header .header__content .header__primary-wrap .header__user-img-wrap {
  width: 45px;
}

.header .header__content .header__primary-wrap .header__user-img-wrap .header__user-img {
  width: 100%;
}

.header .header__content .header__secondary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__content .header__secondary-wrap .header__logo-wrap {
  margin: 0 65px 0 30px;
}

.header .header__content .header__secondary-wrap .header__logo-wrap .header__logo {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3563E9;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .header .header__content .header__secondary-wrap .header__logo-wrap .header__logo {
    font-size: 2rem;
  }
}

.header .header__content .header__secondary-wrap .input-group {
  width: 500px;
}

.header .header__content .header__secondary-wrap .form-control::-webkit-input-placeholder {
  color: #3d5278;
  font-weight: 500;
}

.header .header__content .header__secondary-wrap .form-control:-ms-input-placeholder {
  color: #3d5278;
  font-weight: 500;
}

.header .header__content .header__secondary-wrap .form-control::-ms-input-placeholder {
  color: #3d5278;
  font-weight: 500;
}

.header .header__content .header__secondary-wrap .form-control::placeholder {
  color: #3d5278;
  font-weight: 500;
}

.header .header__content .header__secondary-wrap .header__input, .header .header__content .header__secondary-wrap .header__input-icon, .header .header__content .header__secondary-wrap .header__input-button {
  border: 1px solid rgba(195, 212, 233, 0.4);
}

.header .header__content .header__secondary-wrap .header__input {
  border-left: none;
  border-right: none;
}

.header .header__content .header__secondary-wrap .header__input-icon, .header .header__content .header__secondary-wrap .header__input-button {
  border-radius: 30px;
  padding: 10px 20px;
}

.header .header__content .header__secondary-wrap .header__input-button {
  border-left: none;
}

.header .header__content .header__secondary-wrap .header__input-button:hover {
  background-color: #3563E9;
}

.header .header__content .header__secondary-wrap .header__input-button:hover .header__input-button-icon, .header .header__content .header__secondary-wrap .header__input-button:focus .header__input-button-icon {
  stroke: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .aside {
  padding: 30px;
  min-width: 350px;
}

.main .aside .aside__wrap {
  margin-bottom: 55px;
}

.main .aside .aside__wrap .aside__title {
  text-transform: uppercase;
  font-size: .9rem;
  color: #94A7CB;
  font-weight: 600;
  letter-spacing: 2px;
}

.main .aside .aside__wrap .aside__title, .main .aside .aside__wrap .aside__check {
  margin-bottom: 30px;
}

.main .aside .aside__wrap .aside__check {
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: 600;
  color: #3d5278;
}

@media (max-width: 991px) {
  .main .aside .aside__wrap .aside__check {
    font-size: 1.3rem;
  }
}

.main .aside .aside__wrap .aside__check .check__span {
  color: #90A3BF;
  font-weight: 500;
}

.main .aside .aside__wrap .aside__check .form-check-input:checked {
  background-color: #3563E9;
  border-color: #3563E9;
}

.main .aside .aside__wrap #price-range {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #C3D4E9;
  outline: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3563E9), to(#3563E9));
  background-image: linear-gradient(#3563E9, #3563E9);
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.main .aside .aside__wrap #price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #3563E9;
  cursor: pointer;
  outline: 4px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.main .aside .aside__wrap #price-range::-webkit-slider-thumb:active {
  outline: 4px solid #e5f0f3;
}

.main .aside .aside__wrap #price-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #3563E9;
  cursor: pointer;
  outline: 4px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.main .aside .aside__wrap #price-range::-moz-range-thumb:active {
  outline: 4px solid #e5f0f3;
}

.main .content {
  background-color: #F6F7F9;
  padding: 30px 0;
}

.main .content .content__price-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.main .content .content__price-button-wrap .content__price__wrap .content__price {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
}

@media (max-width: 991px) {
  .main .content .content__price-button-wrap .content__price__wrap .content__price {
    font-size: 1.3rem;
  }
}

.main .content .content__price-button-wrap .content__price__wrap .content__price-dscr, .main .content .content__price-button-wrap .content__price__wrap .content__price-old {
  color: #90A3BF;
  font-size: 1.1rem;
  font-weight: 600;
  font-weight: bold;
  font-size: 1rem;
}

.main .content .content__price-button-wrap .content__button {
  background-color: #3563E9;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.1rem;
}

.main .content .content__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  grid-gap: 30px;
}

.main .content .content__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  grid-gap: 25px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.main .content .content__gallery .gallery__item-preview {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  border-radius: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

@media (max-width: 991px) {
  .main .content .content__gallery .gallery__item-preview {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .main .content .content__gallery .gallery__item-preview {
    padding: 15px;
  }
}

.main .content .content__gallery .gallery__item-preview .gallery__dsrc {
  color: #fff;
  margin-bottom: 50px;
}

.main .content .content__gallery .gallery__item-preview .gallery__dsrc .gallery__title {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .main .content .content__gallery .gallery__item-preview .gallery__dsrc .gallery__title {
    font-size: 2rem;
  }
}

.main .content .content__gallery .gallery__item-preview .gallery__dsrc .gallery__txt {
  font-size: 1.1rem;
  line-height: 1.5;
  width: 60%;
}

.main .content .content__gallery .gallery__item-preview .gallery__preview-img-wrap {
  width: 80%;
  margin: 0 auto;
}

.main .content .content__gallery .gallery__item-preview .gallery__preview-img-wrap .gallery__preview-img {
  width: 100%;
}

.main .content .content__gallery .gallery__item-primary {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.main .content .content__gallery .gallery__item-secondary {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.main .content .content__gallery .gallery__item-third {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.main .content .content__gallery .gallery__img-wrap {
  width: 100%;
}

.main .content .content__gallery .gallery__img-wrap .gallery__img {
  width: 100%;
}

.main .content .content__detail {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .main .content .content__detail {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .main .content .content__detail {
    padding: 15px;
  }
}

.main .content .content__detail .content__detail-primary-wrap {
  position: relative;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-title-wrap .content-detail__title {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .main .content .content__detail .content__detail-primary-wrap .content__detail-title-wrap .content-detail__title {
    font-size: 2rem;
  }
}

.main .content .content__detail .content__detail-primary-wrap .content-detail__reviews-wrap .content-detail__reviews {
  color: #3d5278;
  padding-left: 5px;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
}

.main .content .content__detail .content__detail-primary-wrap .content-detail__like {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-dscr {
  color: #3d5278;
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: normal;
  line-height: 2;
  margin: 30px 0;
}

@media (max-width: 991px) {
  .main .content .content__detail .content__detail-primary-wrap .content__detail-dscr {
    font-size: 1.3rem;
  }
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap {
  margin-right: 10px;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap, .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap {
  white-space: nowrap;
  min-width: 45%;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification, .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2;
}

@media (max-width: 991px) {
  .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification, .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification {
    font-size: 1.3rem;
  }
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification .detail__spesification-title, .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification .detail__spesification-title {
  color: #90A3BF;
  font-weight: normal;
  margin-right: 5px;
}

.main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification .detail__spesification-type, .main .content .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification .detail__spesification-type {
  color: #3d5278;
  font-weight: 600;
}

.main .content .content__detail .content__detail-secondary-wrap {
  margin-top: 20px;
}

.main .content .content__detail .content__detail-secondary-wrap .detail__price {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.main .content .content__detail .content__detail-secondary-wrap .detail__price-dscr, .main .content .content__detail .content__detail-secondary-wrap .detail__price-old {
  color: #90A3BF;
  font-size: 1.1rem;
  font-weight: 600;
}

.main .content .content__detail .content__detail-secondary-wrap .gallery__button {
  padding: 15px 32px;
  font-weight: bold;
}

.main .content .content__reviews-wrap {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 991px) {
  .main .content .content__reviews-wrap {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .main .content .content__reviews-wrap {
    padding: 15px;
  }
}

.main .content .content__reviews-wrap .content__reviews-title {
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .main .content .content__reviews-wrap .content__reviews-title {
    font-size: 1.3rem;
  }
}

.main .content .content__reviews-wrap .content__reviews-title .reviews__badge {
  margin-left: 10px;
  background-color: #3563E9;
  font-size: 1rem;
  padding: 7px 15px;
  vertical-align: middle;
}

.main .content .content__reviews-wrap .content__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.main .content .content__reviews-wrap .content__review .content__review-img-wrap {
  min-width: 50px;
  max-width: 50px;
  margin-right: 15px;
}

.main .content .content__reviews-wrap .content__review .content__review-img-wrap .content__review-img {
  width: 100%;
}

.main .content .content__reviews-wrap .content__review .content__review-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.main .content .content__reviews-wrap .content__review .content__review-header .content__review-user-wrap .content__review-user {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .main .content .content__reviews-wrap .content__review .content__review-header .content__review-user-wrap .content__review-user {
    font-size: 1.3rem;
  }
}

.main .content .content__reviews-wrap .content__review .content__review-header .content__review-user-wrap .content__review-user-position {
  color: #90A3BF;
  display: block;
  font-weight: 500;
}

.main .content .content__reviews-wrap .content__review .content__review-header .content__review-stats-wrap .content__review-stats-date {
  color: #90A3BF;
  font-weight: 500;
  display: block;
  text-align: end;
  margin-bottom: 8px;
}

.main .content .content__reviews-wrap .content__review .content__review-dscr {
  color: #3d5278;
  margin: 0;
  line-height: 2;
}

.main .content .content__reviews-wrap .accordion-button {
  width: auto;
  margin: 0 auto;
  color: #90A3BF;
  font-size: 1.1rem;
  font-weight: 600;
}

.main .content .content__reviews-wrap .accordion-button::after {
  margin-left: 10px;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2390A3BF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.main .content .content__catalogue {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.main .content .content__catalogue .content__catalogue-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 30px;
}

.main .content .content__catalogue .content__catalogue-header .content__catalogue-title {
  color: #90A3BF;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.5;
  margin: 0;
}

.main .content .content__catalogue .content__catalogue-header .content__catalogue-main-btn {
  border: none;
  color: #90A3BF;
  font-size: 1.1rem;
  font-weight: 600;
  color: #3563E9;
  background-color: transparent;
}

.main .content .content__catalogue .content__catalogue-item-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item {
    padding: 15px;
  }
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-header {
  position: relative;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-header .catalogue-item-header__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-header .catalogue-item-header__title {
    font-size: 1.3rem;
  }
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-header .catalogue-item-header__type {
  font-weight: bold;
  color: #90A3BF;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-header .content__catalogue-item-like {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-img-wrap {
  width: 90%;
  margin: 50px auto;
  position: relative;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-img-wrap:after {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 224, 42, 0)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(180deg, rgba(188, 224, 42, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-primary-wrap .content__catalogue-item-img-wrap .content__catalogue-item-img {
  width: 100%;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-secondary-wrap .content__catalogue-item-specification-wrap {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .content .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-secondary-wrap .content__catalogue-item-specification-wrap .catalogue-item-specification__element-wrap .catalogue-item-specification__element {
  color: #90A3BF;
  margin-left: 5px;
  vertical-align: middle;
  font-weight: 500;
}

.main .content .content__catalogue-recomendation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.main .content .content__catalogue-recomendation .content__catalogue-header .content__catalogue-title-recomendation {
  color: #3563E9;
}

.footer {
  padding: 60px 30px;
}

.footer .footer__primary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(19, 19, 19, 0.2);
}

.footer .footer__primary-wrap .footer__primary-wrap_heading-wrap {
  margin-right: 20px;
}

.footer .footer__primary-wrap .footer__primary-wrap_heading-wrap .footer__heading {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: #3563E9;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .footer .footer__primary-wrap .footer__primary-wrap_heading-wrap .footer__heading {
    font-size: 2rem;
  }
}

.footer .footer__primary-wrap .footer__primary-wrap_heading-wrap .footer__heading_dscr {
  margin: 15px 0 0 0;
  color: rgba(19, 19, 19, 0.6);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.2;
}

@media (max-width: 575px) {
  .footer .footer__primary-wrap .footer__primary-wrap_heading-wrap .footer__heading_dscr {
    color: #90A3BF;
    font-weight: 500;
    font-size: 1rem;
  }
}

.footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap {
  margin-right: 60px;
}

.footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_title {
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 25px;
}

@media (max-width: 991px) {
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_title {
    font-size: 1.3rem;
  }
}

.footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_links-wrap .footer__contacts_link {
  display: block;
  color: rgba(19, 19, 19, 0.6);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.2;
  text-decoration: none;
}

@media (max-width: 575px) {
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_links-wrap .footer__contacts_link {
    color: #90A3BF;
    font-weight: 500;
    font-size: 1rem;
  }
}

.footer .footer__secondary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(19, 19, 19, 0.6);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #131313;
  margin-top: 50px;
}

@media (max-width: 575px) {
  .footer .footer__secondary-wrap {
    color: #90A3BF;
    font-weight: 500;
    font-size: 1rem;
  }
}

.footer .footer__secondary-wrap .footer__secondary-wrap_primary-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__secondary-wrap .footer__secondary-wrap_primary-items-wrap .footer__secondary-wrap_primary-item:first-child {
  margin-right: 60px;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
}

.wrapper-content {
  margin: 0 30px;
}

@media screen and (min-width: 1641px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .main .aside {
    min-width: 300px;
  }
  .content .content__wrap .content__catalogue .content__catalogue-item-wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .content .content__wrap .content__catalogue .content__catalogue-item:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .main .aside {
    padding: 0;
  }
  .header .header__content .header__secondary-wrap .input-group {
    width: 350px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper-content {
    margin: 0 25px;
  }
  .header {
    padding: 30px 0;
  }
  .header .header__content {
    display: block;
  }
  .header .header__content .header__primary-wrap {
    margin-bottom: 20px;
  }
  .header .header__content .header__primary-wrap .header__user-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
  }
  .header .header__content .header__primary-wrap .header__user-settings .header__user-settings-btn:last-of-type {
    margin-right: 0;
  }
  .header .header__content .header__secondary-wrap .header__logo-wrap {
    margin-left: 0;
  }
  .main .aside {
    max-width: 300px;
    min-width: 300px;
  }
  .main .aside .aside__wrap .aside__check {
    margin-bottom: 10px;
  }
  .content .content__wrap .content__gallery .gallery__item-preview .gallery__dsrc .gallery__title {
    font-size: 1.4rem;
    font-weight: bold;
    font-weight: 600;
  }
}

@media screen and (max-width: 991px) and (max-width: 991px) {
  .content .content__wrap .content__gallery .gallery__item-preview .gallery__dsrc .gallery__title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 991px) {
  .content .content__wrap .content__gallery .gallery__item-preview .gallery__dsrc .gallery__txt {
    font-size: 1rem;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-dscr {
    font-size: 1.2rem;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification, .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification {
    font-size: 1.2rem;
  }
  .content .content__wrap .content__detail .content__detail-secondary-wrap .detail__price {
    font-size: 1.7rem;
  }
  .content .content__wrap .content__catalogue .content__catalogue-item-wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .content .content__wrap .content__catalogue .content__catalogue-item:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main .content {
    overflow: hidden;
  }
  .main .content .content__wrap {
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
  }
  .main .content .content__gallery {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .main .content .content__detail {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .main .content .content__reviews-wrap {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .main .content .content__catalogue {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    position: relative;
  }
  .main .content .content__catalogue .content__catalogue-item-wrap {
    -ms-grid-columns: (65%)[2];
        grid-template-columns: repeat(2, 65%);
  }
  .main .content .content__catalogue .content__catalogue-item-wrap:after {
    content: "";
    position: absolute;
    right: -30px;
    height: 90%;
    width: 30%;
    bottom: 0px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(139, 167, 32, 0)), to(white));
    background: linear-gradient(90deg, rgba(139, 167, 32, 0) 0%, white 100%);
  }
  .main .content .content__catalogue-recomendation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
  .footer .footer__primary-wrap, .footer .footer__secondary-wrap {
    display: block;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap, .footer .footer__secondary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap {
    margin-top: 50px;
  }
  .footer .footer__primary-wrap .footer__secondary-wrap_primary-items-wrap, .footer .footer__secondary-wrap .footer__secondary-wrap_primary-items-wrap {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }
  .header .header__content .header__primary-wrap .header__user-img-wrap {
    width: 30px;
  }
  .header .header__content .header__primary-wrap .header__user-settings .header__user-settings-btn {
    padding: 7px;
  }
  .header .header__content .header__primary-wrap .header__user-settings .header__user-settings-btn > * {
    width: 20px;
    height: 20px;
  }
  .header .header__content .header__secondary-wrap {
    display: block;
  }
  .header .header__content .header__secondary-wrap .header__logo-wrap {
    margin-bottom: 20px;
  }
  .header .header__content .header__secondary-wrap .input-group {
    width: 100%;
  }
  .header .header__content .header__secondary-wrap .form-control {
    font-size: 1.2rem;
  }
  .header .header__content .header__secondary-wrap .header__input-icon {
    border-radius: 10px;
    padding: 10px 5px 10px 20px;
  }
  .header .header__content .header__secondary-wrap .header__input {
    border-right: 1px solid rgba(195, 212, 233, 0.4);
    margin-right: 20px;
  }
  .header .header__content .header__secondary-wrap .header__input-button {
    padding: 10px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
  }
  .header .header__content .header__secondary-wrap .input-group > :not(:first-child):not(.form-control):not(.valid-feedback):not(.invalid-tooltip) {
    border-radius: 10px;
  }
  .header .header__content .header__secondary-wrap .input-group > :not(:first-child):not(.invalid-tooltip) {
    border-radius: 10px;
  }
  .main .aside {
    max-width: 250px;
    min-width: 250px;
  }
  .main .aside .aside__wrap {
    margin-bottom: 30px;
  }
  .main .aside .aside__wrap .aside__title {
    margin-bottom: 20px;
  }
  .content {
    overflow: hidden;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-title-wrap .content-detail__title {
    font-size: 1.7rem;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-title-wrap .content-detail__reviews-wrap .content-detail__like {
    display: none;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-dscr {
    font-size: 1rem;
  }
  .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__primary-wrap .detail__spesification, .content .content__wrap .content__detail .content__detail-primary-wrap .content__detail-spesification-wrap .detail-spesification__secondary-wrap .detail__spesification {
    font-size: 1rem;
  }
  .content .content__wrap .content__detail .content__detail-secondary-wrap .detail__price {
    font-size: 1.7rem;
  }
  .content .content__wrap .content__detail .content__detail-secondary-wrap .gallery__button {
    font-size: 1.3rem;
  }
  .content .content__wrap .content__reviews-wrap .content__reviews-title {
    font-size: 1.7rem;
  }
  .content .content__wrap .content__reviews-wrap .content__reviews-title .reviews__badge {
    font-size: 1.2rem;
  }
  .content .content__wrap .content__reviews-wrap .content__review .content__review-img-wrap {
    min-width: 45px;
    max-width: 45px;
  }
  .content .content__wrap .content__reviews-wrap .content__review .content__review-dscr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .content .content__wrap .content__rating-star {
    width: 1rem;
    margin-left: 2px;
  }
  .content .content__wrap .content__catalogue .content__catalogue-header {
    padding: 0;
  }
  .content .content__wrap .content__catalogue .content__catalogue-header .content__catalogue-title-recomendation {
    color: #90A3BF;
  }
  .content .content__wrap .content__catalogue .content__catalogue-header .content__catalogue-main-btn {
    font-size: 1rem;
    padding: 0;
  }
  .content .content__wrap .content__catalogue .content__catalogue-item-wrap {
    -ms-grid-columns: (75%)[2];
        grid-template-columns: repeat(2, 75%);
    grid-gap: 20px;
  }
  .content .content__wrap .content__catalogue .content__catalogue-item-wrap .content__catalogue-item .content__catalogue-item-secondary-wrap .content__catalogue-item-specification-wrap .catalogue-item-specification__element-wrap > svg {
    width: 1.4rem;
  }
  .footer {
    background-color: #F6F7F9;
    padding: 25px 0;
  }
  .footer .footer__primary-wrap {
    border: none;
    padding-bottom: 50px;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap {
    margin-top: 50px;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_title {
    color: #1A202C;
    font-size: 1.6rem;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap .footer__contacts_links-wrap .footer__contacts_link {
    font-size: 1.3rem;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer .footer__primary-wrap .footer__primary-wrap_contacts-wrap .footer__contacts_wrap:nth-of-type(3) {
    margin-right: 30px;
  }
  .footer .footer__secondary-wrap {
    margin: 0;
    font-weight: 600;
    color: #1A202C;
  }
}
/*# sourceMappingURL=main.css.map */