
// *** main *** //
.main {
    display: flex;

    // *** sidebar *** //
    .aside {
        padding: 30px;
        min-width: 350px;

        .aside__wrap {
            margin-bottom: 55px;
        
            .aside__title {
                text-transform: uppercase;
                font-size: .9rem;
                color: #94A7CB;
                font-weight: 600;
                letter-spacing: 2px;
            }
            .aside__title, .aside__check {
                margin-bottom: 30px;
            }
            .aside__check {
                @include title-20;
                font-weight: 600;
                color: $colorMain;
        
                .check__span {
                    color: $colorLight;
                    font-weight: 500;
                }
                .form-check-input:checked {
                    background-color: $colorAccent;
                    border-color: $colorAccent;
                }
            }
        
            // *** price range *** //
            #price-range {
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                background: #C3D4E9;
                outline: none;
                border-radius: 12px;
                background-image: linear-gradient($colorAccent, $colorAccent);
                background-repeat: no-repeat;
                margin-bottom: 10px;
        
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background-color: $colorAccent;
                    cursor: pointer;
                    outline: 4px solid #fff;
                    border-radius: 50%;
                    transition: all 200ms ease-out;
                    
                    &:active {
                        outline: 4px solid #e5f0f3;
                        border-radius: 50%;
                    }
                }
                &::-moz-range-thumb {
                    width: 20px;
                    height: 20px;
                    background-color: $colorAccent;
                    cursor: pointer;
                    outline: 4px solid #fff;
                    border-radius: 50%;
                    transition: all 200ms ease-out;

                    &:active {
                        outline: 4px solid #e5f0f3;
                        border-radius: 50%;
                    }
                }
                &::-ms-thumb {
                    width: 20px;
                    height: 20px;
                    background-color: $colorAccent;
                    cursor: pointer;
                    outline: 4px solid #fff;
                    border-radius: 50%;
                    transition: all 200ms ease-out;

                    &:active {
                        outline: 4px solid #e5f0f3;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    // *** content *** ///
    .content {
        background-color: $backgroundMain;
        padding: 30px 0;

        // *** price button component *** //
        .content__price-button-wrap {
            @include flex-space-between;
            align-items: center;
            margin-top: 5px;

            .content__price__wrap {
                .content__price {
                    @include title-20;
                    line-height: 1;
                }
                .content__price-dscr, .content__price-old {
                    @include title-elements;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
            .content__button {
                background-color: $colorAccent;
                padding: 10px 20px;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
        
        .content__wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-gap: 30px;
        }
    
        // *** content gallery *** //
        .content__gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-gap: 25px;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
    
            .gallery__item-preview {
                background: url(../img/bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                @include content-blocks;
                grid-column: 1 / 4;
                grid-row: 1 / 4;
    
                .gallery__dsrc {
                    color: #fff;
                    margin-bottom: 50px;
                    
                    .gallery__title {
                        @include title;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                    .gallery__txt {
                        font-size: 1.1rem;
                        line-height: 1.5;
                        width: 60%;
                    }
                }
                .gallery__preview-img-wrap {
                    width: 80%;
                    margin: 0 auto;
    
                    .gallery__preview-img {
                        width: 100%;
                    }
                }
            }
            .gallery__item-primary {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }
            .gallery__item-secondary {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
            }
            .gallery__item-third {
                grid-column: 3 / 4;
                grid-row: 4 / 5;
            }
            .gallery__img-wrap {
                width: 100%;
                
                .gallery__img {
                    width: 100%;
                }
            }
        }

        // *** content detail *** /// 
        .content__detail {
            @include content-blocks;
            background-color: #fff;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            @include flex-space-between;
            flex-direction: column;
            
            // *** detail primary wrap *** //
            .content__detail-primary-wrap {
                position: relative;

                .content__detail-title-wrap {
                    .content-detail__title {
                        @include title;
                    }
                }
                .content-detail__reviews-wrap {
                    .content-detail__reviews {
                        color: $colorMain;
                        padding-left: 5px;
                        vertical-align: middle;
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
                .content-detail__like {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .content__detail-dscr {
                    color: $colorMain;
                    @include title-20;
                    font-weight: normal;
                    line-height: 2;
                    margin: 30px 0;
                }
                .content__detail-spesification-wrap {
                    @include flex-space-between;
                    flex-wrap: wrap;

                    .detail-spesification__primary-wrap {
                        margin-right: 10px;
                    }
                    .detail-spesification__primary-wrap, .detail-spesification__secondary-wrap {
                        white-space: nowrap;
                        min-width: 45%;

                        .detail__spesification {
                            @include flex-space-between;
                            @include title-20;
                            line-height: 2;
                            
                            .detail__spesification-title {
                                color: $colorLight;
                                font-weight: normal;
                                margin-right: 5px;
                            }
                            .detail__spesification-type {
                                color: $colorMain;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            // *** detail secondary wrap *** //
            .content__detail-secondary-wrap {
                margin-top: 20px;

                .detail__price {
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 1.5;
                }
                .detail__price-dscr, .detail__price-old {
                    @include title-elements;
                }
                .gallery__button {
                    padding: 15px 32px;
                    font-weight: bold;
                }
            }
        }

        // *** content reviews *** //
        .content__reviews-wrap {
            background-color: #fff;
            @include content-blocks;
            grid-column: 1 / 3;
            grid-row: 2 / 3;

            .content__reviews-title {
                @include title-20;
                font-weight: 600;
                margin-bottom: 30px;

                .reviews__badge {
                    margin-left: 10px;
                    background-color: $colorAccent;
                    font-size: 1rem;
                    padding: 7px 15px;
                    vertical-align: middle;
                }
            }

            // *** user review *** //
            .content__review {
                display: flex;
                margin-bottom: 25px;
                
                .content__review-img-wrap {
                    min-width: 50px;
                    max-width: 50px;
                    margin-right: 15px;

                    .content__review-img {
                        width: 100%;
                    }
                }
                .content__review-header {
                    @include flex-space-between;
                    margin-bottom: 15px;
    
                    .content__review-user-wrap {
                        .content__review-user {
                            @include title-20;
                            margin-bottom: 8px;
                        }
                        .content__review-user-position {
                            color: $colorLight;
                            display: block;
                            font-weight: 500;
                        }
                    }
                    .content__review-stats-wrap {
                        .content__review-stats-date {
                            color: $colorLight;
                            font-weight: 500;
                            display: block;
                            text-align: end;
                            margin-bottom: 8px;
                        }
                    }
                }
                .content__review-dscr {
                    color: $colorMain;
                    margin: 0;
                    line-height: 2;
                }
            }

            // *** content reviews button *** //
            .accordion-button {
                width: auto;
                margin: 0 auto;
                @include title-elements;

                &::after {
                    margin-left: 10px;
                    content: "";
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2390A3BF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
        }

        // *** content catalogue *** //
        .content__catalogue {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            
            .content__catalogue-header {
                @include flex-space-between;
                margin-bottom: 10px;
                padding: 0 30px;
                
                .content__catalogue-title {
                    @include title-elements;
                    line-height: 2.5;
                    margin: 0;
                }
                .content__catalogue-main-btn {
                    border: none;
                    @include title-elements;
                    color: $colorAccent;
                    background-color: transparent;
                }
            }
            .content__catalogue-item-wrap {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px;

                .content__catalogue-item {
                    @include content-blocks;
                    background-color: #fff;
                    @include flex-space-between;
                    flex-direction: column;

                    .content__catalogue-item-primary-wrap {
                        .content__catalogue-item-header {
                            position: relative;
    
                            .catalogue-item-header__title {
                                @include title-20;
                                margin-bottom: 5px;
                            }
                            .catalogue-item-header__type {
                                font-weight: bold;
                                color: $colorLight;
                            }
                            .content__catalogue-item-like {
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                        .content__catalogue-item-img-wrap {
                            width: 90%;
                            margin: 50px auto;
                            position: relative;

                            &:after {
                                content: "";
                                position: absolute;
                                height: 45%;
                                width: 100%;
                                bottom: 0;
                                left: 0;
                                background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, .6) 100%);
                            }
                            .content__catalogue-item-img {
                                width: 100%;
                            }
                        }
                    }
                    .content__catalogue-item-secondary-wrap {
                        .content__catalogue-item-specification-wrap {
                            margin-bottom: 35px;
                            @include flex-space-between;
    
                            .catalogue-item-specification__element-wrap {
                                .catalogue-item-specification__element {
                                    color: $colorLight;
                                    margin-left: 5px;
                                    vertical-align: middle;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }

        // *** content catalogue recomendation *** //
        .content__catalogue-recomendation {
            grid-column: 1 / 3;
            grid-row: 4 / 5;

            .content__catalogue-header {
                .content__catalogue-title-recomendation {
                    color: $colorAccent;
                }
            }
        }
    }
}